<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <description>listener</description>
        <listener-class>listeners.WebappContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebappContextListener</servlet-name>
        <servlet-class>listeners.WebappContextListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupServlet</servlet-name>
        <servlet-class>servlet.GroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvitiServlet</servlet-name>
        <servlet-class>servlet.InvitiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VediGruppoServlet</servlet-name>
        <servlet-class>servlet.VediGruppoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvitoRispostaServlet</servlet-name>
        <servlet-class>servlet.InvitoRispostaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AmministraGruppoServlet</servlet-name>
        <servlet-class>servlet.AmministraGruppoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiaNomeServlet</servlet-name>
        <servlet-class>servlet.CambiaNomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaGruppoServlet</servlet-name>
        <servlet-class>servlet.CreaGruppoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RisultatoNomeServlet</servlet-name>
        <servlet-class>servlet.RisultatoNomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvitaUtenteServlet</servlet-name>
        <servlet-class>servlet.InvitaUtenteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RisultatoInvitoServlet</servlet-name>
        <servlet-class>servlet.RisultatoInvitoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RisultatoCreaGruppo</servlet-name>
        <servlet-class>servlet.RisultatoCreaGruppo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaReportServlet</servlet-name>
        <servlet-class>servlet.CreaReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebappContextListener</servlet-name>
        <url-pattern>/WebappContextListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupServlet</servlet-name>
        <url-pattern>/GroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvitiServlet</servlet-name>
        <url-pattern>/InvitiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VediGruppoServlet</servlet-name>
        <url-pattern>/VediGruppoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvitoRispostaServlet</servlet-name>
        <url-pattern>/InvitoRispostaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AmministraGruppoServlet</servlet-name>
        <url-pattern>/AmministraGruppoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiaNomeServlet</servlet-name>
        <url-pattern>/CambiaNomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RisultatoNomeServlet</servlet-name>
        <url-pattern>/RisultatoNomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvitaUtenteServlet</servlet-name>
        <url-pattern>/InvitaUtenteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RisultatoInvitoServlet</servlet-name>
        <url-pattern>/RisultatoInvitoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RisultatoCreaGruppo</servlet-name>
        <url-pattern>/RisultatoCreaGruppo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaGruppoServlet</servlet-name>
        <url-pattern>/CreaGruppoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaReportServlet</servlet-name>
        <url-pattern>/CreaReportServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
